<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" xmlns="http://www.w3.org/1999/xhtml" version="2.0"
          xmlns:tiles="http://tiles.apache.org/tags-tiles">
    <jsp:output omit-xml-declaration="true"/>
    <jsp:directive.page pageEncoding="UTF-8" contentType="text/html; UTF-8"/>
    <html>
    <head>
        <title><tiles:getAsString name="title"/></title>
    </head>
    <body>
    <tiles:insertAttribute name="header"/>
<!--    <tiles:insertAttribute name="main"/>-->
    <tiles:insertAttribute name="footer"/>
    </body>
    </html>
</jsp:root>
