.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*height: fit-content;*/
    /*height: revert;*/
    background-color: rgba(64, 47, 48, 0.35);
    color: #402f30;
    text-align: center;
}

